{% extends 'base.html' %} {% block body %}
<main class="container mx-auto px-4 py-8">
  <section class="max-w-3xl mx-auto text-center">
  <div class="bg-indigo-50 p-6 rounded-lg shadow-md">
    <h4 class="text-2xl font-semibold mb-4 text-black">Get in Touch</h4>
    <p class="text-lg text-gray-700 mb-4">Feel free to reach out to us for any inquiries or assistance. We're here to help!</p>

    <!-- Contact Information -->
    <div class="flex flex-col items-center justify-center space-y-2">
      <p class="text-lg text-gray-700">Phone: +91 7738783610</p>
      <p class="text-lg text-gray-700">Email: siddharthsharma7678@gmail.com</p>
    </div>
  </div>
</section>
  </main>
  <div style="margin-top: 240px;"></div>
{% endblock body %}