{% extends 'base.html' %}
{% block body %}
<div class="grid grid-cols-5">
  <div class="col-span-2">
    <h2 class="text-xl font-medium dark:text-white">Getting Started</h2>
    <ul class="sticky top-0" data-hs-scrollspy="#scrollspy-2" data-hs-scrollspy-scrollable-parent="#scrollspy-scrollable-parent-2">
      <li data-hs-scrollspy-group>
        <a href="#" class="block py-0.5 text-sm font-medium leading-6 text-slate-700 hover:text-slate-900 focus:outline-none focus:text-blue-600 dark:text-slate-400 dark:hover:text-slate-300 dark:focus:text-blue-500 hs-scrollspy-active:text-blue-600 dark:hs-scrollspy-active:text-blue-400 active">Step 1:Go to home page</a>
        <ul>
          <li class="ms-4">
            <a href="#item-1" class="group flex items-center gap-x-2 py-0.5 text-sm text-gray-700 leading-6 hover:text-gray-800 focus:outline-none focus:text-blue-600 dark:text-gray-400 dark:hover:text-gray-300 dark:focus:text-blue-500 hs-scrollspy-active:text-blue-600 dark:hs-scrollspy-active:text-blue-400">
              <svg class="flex-shrink-0 w-4 h-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m9 18 6-6-6-6"/></svg>
              Login
            </a>
          </li>
        </ul>
      </li>
      <li>
        <a href="#item-2" class="block py-0.5 text-sm font-medium leading-6 text-slate-700 hover:text-slate-900 focus:outline-none focus:text-blue-600 dark:text-slate-400 dark:hover:text-slate-300 dark:focus:text-blue-500 hs-scrollspy-active:text-blue-600 dark:hs-scrollspy-active:text-blue-400">Stpe 2:Choose Format</a>
        <ul>
          <li class="ms-4">
            <a href="#item-2-1" class="group flex items-center gap-x-2 py-0.5 text-sm text-gray-700 leading-6 hover:text-gray-800 focus:outline-none focus:text-blue-600 dark:text-gray-400 dark:hover:text-gray-300 dark:focus:text-blue-500 hs-scrollspy-active:text-blue-600 dark:hs-scrollspy-active:text-blue-400">
              <svg class="flex-shrink-0 w-4 h-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m9 18 6-6-6-6"/></svg>
              IPL
            </a>
          </li>
          <li class="ms-4">
            <a href="#item-2-2" class="group flex items-center gap-x-2 py-0.5 text-sm text-gray-700 leading-6 hover:text-gray-800 focus:outline-none focus:text-blue-600 dark:text-gray-400 dark:hover:text-gray-300 dark:focus:text-blue-500 hs-scrollspy-active:text-blue-600 dark:hs-scrollspy-active:text-blue-400">
              <svg class="flex-shrink-0 w-4 h-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m9 18 6-6-6-6"/></svg>
              ODI
            </a>
          </li>
          <li class="ms-4">
            <a href="#item-2-3" class="group flex items-center gap-x-2 py-0.5 text-sm text-gray-700 leading-6 hover:text-gray-800 focus:outline-none focus:text-blue-600 dark:text-gray-400 dark:hover:text-gray-300 dark:focus:text-blue-500 hs-scrollspy-active:text-blue-600 dark:hs-scrollspy-active:text-blue-400">
              <svg class="flex-shrink-0 w-4 h-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m9 18 6-6-6-6"/></svg>
              TEST
            </a>
          </li>
          <li class="ms-4">
            <a href="#item-2-4" class="group flex items-center gap-x-2 py-0.5 text-sm text-gray-700 leading-6 hover:text-gray-800 focus:outline-none focus:text-blue-600 dark:text-gray-400 dark:hover:text-gray-300 dark:focus:text-blue-500 hs-scrollspy-active:text-blue-600 dark:hs-scrollspy-active:text-blue-400">
              <svg class="flex-shrink-0 w-4 h-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m9 18 6-6-6-6"/></svg>
              T20
            </a>
          </li>
        </ul>
      </li>
      <li data-hs-scrollspy-group>
        <a href="#item-3" class="block py-0.5 text-sm font-medium leading-6 text-slate-700 hover:text-slate-900 focus:outline-none focus:text-blue-600 dark:text-slate-400 dark:hover:text-slate-300 dark:focus:text-blue-500 hs-scrollspy-active:text-blue-600 dark:hs-scrollspy-active:text-blue-400">Step 3:Choose Teams</a>
      </li>
      <li data-hs-scrollspy-group>
        <a href="#item-4" class="block py-0.5 text-sm font-medium leading-6 text-slate-700 hover:text-slate-900 focus:outline-none focus:text-blue-600 dark:text-slate-400 dark:hover:text-slate-300 dark:focus:text-blue-500 hs-scrollspy-active:text-blue-600 dark:hs-scrollspy-active:text-blue-400">Step 4:Update squad</a>
      </li>
      <li data-hs-scrollspy-group>
        <a href="#item-5" class="block py-0.5 text-sm font-medium leading-6 text-slate-700 hover:text-slate-900 focus:outline-none focus:text-blue-600 dark:text-slate-400 dark:hover:text-slate-300 dark:focus:text-blue-500 hs-scrollspy-active:text-blue-600 dark:hs-scrollspy-active:text-blue-400">Step 5:Get predictions</a>
      </li>
      <li data-hs-scrollspy-group>
        <a href="#item-6" class="block py-0.5 text-sm font-medium leading-6 text-slate-700 hover:text-slate-900 focus:outline-none focus:text-blue-600 dark:text-slate-400 dark:hover:text-slate-300 dark:focus:text-blue-500 hs-scrollspy-active:text-blue-600 dark:hs-scrollspy-active:text-blue-400">Finally</a>
      </li>
      <li data-hs-scrollspy-group>
        <a href="#item-7" class="block py-0.5 text-sm font-medium leading-6 text-slate-700 hover:text-slate-900 focus:outline-none focus:text-blue-600 dark:text-slate-400 dark:hover:text-slate-300 dark:focus:text-blue-500 hs-scrollspy-active:text-blue-600 dark:hs-scrollspy-active:text-blue-400">Feedback</a>
      </li>
    </ul>
  </div>
  <div class="col-span-3">
    <div id="scrollspy-2" class="space-y-4">
      <div id="item-1">
        <h3 class="text-lg font-semibold dark:text-white">Getting started</h3>
        <p>Welcome to our platform! To get started, the first step is to log in to your account. If you're a returning user, simply enter your username and password on the login page.
          <a class="text-blue-700" href="/login">Login</a></p>
        <img src="/static/GetstartedImage/main.png" alt="">
        <img src="/static/GetstartedImage/login.png" alt="">
        <p>For new users, you can easily create an account by clicking on the 'Sign Up' button and filling out the required information. Once logged in, you'll have access to a personalized experience, including features tailored to your preferences. If you encounter any issues, don't hesitate to reach out to our support team for assistance. Let's begin your journey with seamless access to our platform! <a class="text-blue-700" href="/signup">signup</a></p>
      </div>

      <div id="item-2">
        <h3 class="text-lg font-semibold dark:text-white">Choose format</h3>
        <p class="mt-1 text-sm leading-6 text-gray-600 dark:text-gray-400">Now that you've successfully logged in, it's time to customize your cricket experience. Step 2 involves selecting the format that suits your preferences. Whether you enjoy the fast-paced action of T20, the strategic play of One Day Internationals (ODIs), or the traditional and enduring Test matches, we've got you covered. Navigate to the 'Format Preferences' section on your dashboard, and simply choose your preferred cricket format. This ensures that you receive tailored updates, match schedules, and content that align with your cricketing interests. Embrace the excitement of your favorite format as you embark on an immersive cricketing journey with us!</p>
        <img src="/static/GetstartedImage/format.png" alt="">
      </div>

      <div id="item-2-1">
        <h3 class="text-lg font-semibold dark:text-white">IPL</h3>
        <p class="mt-1 text-sm leading-6 text-gray-600 dark:text-gray-400">navigate to the 'IPL Preferences' section on your dashboard and select the IPL format. This will ensure that you receive exclusive updates, match predictions, and exciting content tailored specifically to the IPL. Whether you're a fan of your favorite team or enjoy predicting match outcomes, our IPL section provides an immersive experience. Get ready to dive into the excitement of the IPL season by customizing your preferences and staying on top of all the action!</p>
      </div>
      <div id="item-2-2">
        <h3 class="text-lg font-semibold dark:text-white">ODI</h3>
        <p class="mt-1 text-sm leading-6 text-gray-600 dark:text-gray-400">If you're a fan of the strategic and dynamic play showcased in One Day Internationals (ODIs), Step 2.2 invites you to tailor your cricket experience accordingly. Head to the 'ODI Preferences' section on your dashboard and select the ODI format to receive personalized updates, match analyses, and exclusive content related to ODIs. This ensures that you stay informed about your favorite teams, players, and crucial moments in the world of One Day Internationals. Whether you're interested in match statistics, highlights, or expert insights, our ODI section has you covered. Customize your preferences now and immerse yourself in the excitement of ODI cricket!</p>
      </div>
      <div id="item-2-3">
        <h3 class="text-lg font-semibold dark:text-white">TEST</h3>
        <p class="mt-1 text-sm leading-6 text-gray-600 dark:text-gray-400">Navigate to the 'Test Preferences' section on your dashboard and choose the Test format to receive exclusive updates, in-depth analyses, and captivating content dedicated to Test matches. Immerse yourself in the rich history and strategic intricacies of Test cricket as you stay abreast of match schedules, player performances, and memorable moments. Our Test section is designed to cater to the nuances of this traditional format, ensuring that you never miss a beat. Customize your preferences now and embark on a journey through the timeless beauty of Test cricket!</p>
      </div>
      <div id="item-2-4">
        <h3 class="text-lg font-semibold dark:text-white">T20</h3>
        <p class="mt-1 text-sm leading-6 text-gray-600 dark:text-gray-400">Head to the 'T20 Preferences' section on your dashboard and choose the T20 format to unlock a world of rapid-fire action, thrilling moments, and dynamic gameplay. By selecting T20, you'll receive personalized updates, insights, and exclusive content tailored to the fast-paced nature of T20 cricket. Stay in the know about your favorite teams, players, and the latest highlights that make T20 cricket an adrenaline-pumping spectacle. Customize your preferences now to immerse yourself in the excitement of T20 cricket!</p>
      </div>
      <div id="item-3">
        <h3 class="text-lg font-semibold dark:text-white">Choose Teams</h3>
        <p class="mt-1 text-sm leading-6 text-gray-600 dark:text-gray-400">In Step 3, pick your favorite teams. Visit the 'Team Preferences' section on your dashboard to select the teams you want updates on. Personalize your cricket journey by choosing the teams you love and stay connected with their latest matches, schedules, and highlights.</p>
      <img src="/static/GetstartedImage/team.png" alt="">
      </div>
      <div id="item-4">
        <h3 class="text-lg font-semibold dark:text-white">Update squad</h3>
        <p class="mt-1 text-sm leading-6 text-gray-600 dark:text-gray-400">For any roster changes or updates, proceed to Step 4: Update Squad. In the 'Squad Management' section, you can make necessary adjustments to your selected teams. Stay current with player transfers, injuries, or any squad modifications to ensure your preferences reflect the latest developments in the cricketing world.</p>
      <img src="/static/GetstartedImage/update1.png" alt="">
        <img src="/static/GetstartedImage/update2.png" alt="">
        <img src="/static/GetstartedImage/update.png" alt="">
      </div>
      <div id="item-5">
        <h3 class="text-lg font-semibold dark:text-white">Get predictions</h3>
        <p class="mt-1 text-sm leading-6 text-gray-600 dark:text-gray-400">In Step 5, just before making your predictions, click on the 'Click Before Predict' button. This ensures that your predictions are registered accurately. After clicking, proceed to predict by clicking on the 'Predict' button. Make your calls, enjoy the matches, and see how your predictions fare against the actual outcomes. It's all just a click away!</p>
        <img src="/static/GetstartedImage/predict.png" alt="">
      </div>
      <div id="item-6">
        <h3 class="text-lg font-semibold dark:text-white">Got predictions</h3>
        <p class="mt-1 text-sm leading-6 text-gray-600 dark:text-gray-400">Finally, it's prediction time! Head to the 'Predictions' section and make your calls for upcoming matches. Test your cricket instincts, engage with the community, and enjoy the thrill of predicting match outcomes. Let the excitement unfold as you participate in our prediction platform, making your cricket experience even more interactive and rewarding.</p>
        <img src="/static/GetstartedImage/predicted.png" alt="">
        <img src="/static/GetstartedImage/home.png" alt="">
      </div>
      <div id="item-7">
        <h3 class="text-lg font-semibold dark:text-white">Give feedback</h3>
        <p class="mt-1 text-sm leading-6 text-gray-600 dark:text-gray-400">Your <a class="text-blue-700" href="/feedback">feedback</a> matters! Share your thoughts and suggestions in Step 6 by clicking on the 'Feedback' button. We value your input as it helps us enhance your experience. Whether it's a feature request or a comment on your overall experience, your feedback is crucial in making our platform even better. Thank you for being a part of our community!</p>
        <img src="/static/GetstartedImage/feedback.png" alt="">
      </div>
    </div>
  </div>
</div>
{% endblock body %}
